<!DOCTYPE html>
<html>
<head>
<title>Query</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet/less" type="text/css" href="/css/style.less" />
</head>
<body>
	<input type="text" id="searchbox">
	<button type="button" id="searchbut">Search</button>
	<div class="container" id="admin-display-row">
		<div class="row">
			<div class="col-md-6">Visitor's E-mail</div>
			<div class="col-md-6">Visitor's Query</div>
		</div><br>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/admin_query.js"></script>
	<script src="/js/less.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</body>
</html>